<div class="navbar">
  <div class="logo">Kevin<span>Luo</span></div>
  <nav>
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/Portfolio">Portfolio</a>
    <a class="nav-item" href="/Contact">Contact</a>
  </nav>
</div>