<div class="navbar is-transparent">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="tabs is-right">
        <ul>
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/api/Portfolio">Portfolio</a>
          <a class="nav-item" href="/Contact">Contact</a>
        </ul>
      </div>
    </div>
  </div>
</div>