.hero {
    background: black url(assets/images/eberhard-grossgasteiger-medium.jpg) center / cover;
}

.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top {align-items: flex-start}
.right {justify-content: flex-end;}
.bottom {align-items: flex-end;}
.left {justify-content: flex-start;}

.single-spaced, .single-spaced * {
    line-height: 1;
}

.box, .card {
    background: rgba(255, 255, 255, 0.4);
    /* background: rgba(6, 46, 102, 0.2); */
}

#git {
    background: url('assets/images/github.png');
    height: 60px;
    width: 60px;
}

#linked {
    background: url('assets/images/linkedin.png');
    height: 60px;
    width: 60px;
}

/* media query optimizes background for different screen sizes*/
@media (max-width: 1024px) {.hero {background: black url(assets/images/eberhard-grossgasteiger-small.jpg) center / cover}}
@media (max-width: 768px) {.hero {background: black url(assets/images/eberhard-grossgasteiger-xsmall.jpg) center / cover}}

/* at 1024px or less hide the content */
@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}