<!-- header -->
<h1 class="title has-text-centered is-2 has-text-light mt-3">About</h1>

<div class="container">
  <div class="box has-background-white-bis">
    <div class="columns">
      <div class="column is-2">
        <div class="media-left">
          <figure class="image is-128x128 ml-5">
            <img src="assets/images/LinkedInPic_head.jpg" alt="Placeholder image" class="is-rounded" style="height:128px;width:128px">
          </figure>
        </div>
        <div class="media-right">
          <!-- add icon links instead -->
          <div class="icon is-large ml-4">
              <a href="https://www.linkedin.com/in/kevinluo49/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
          </div>
          <div class="icon is-large ml-4">
              <a href="https://github.com/kev-luo" target="_blank" style="color:black"><i class="fab fa-github fa-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="content">
          Welcome to my portfolio site! The launch of this site marks the beginning of my work towards becoming a web developer. While there's not much to look at in its current state, the plan is to add content over the duration of the coding bootcamp I'm enrolled in. All good things take time and consistent effort, and I hope to prove that in the coming months.<br><br>

          A little about my background... I grew up in Austin, TX and went to college at Case Western Reserve University in Cleveland, OH, where i received a BS and Master's in Accountancy. I transitioned to a full-time role at a forensic-accounting firm, Meaden & Moore, where i worked for two and a half years. Through the daily use of Excel formulas and a little VBA, I gained an interest for coding. In my spare time I enjoy playing soccer, reading, and cycling.
          <br><br>

          To view my complete portfolio, please click on the Github icon to the left. If you'd like to reach out, please click on the LinkedIn icon to the left. Alternatively, you can reach me at <a href="#">kvn.luo@gmail.com</a>. 
        </div>
      </div>
    </div>
  </div>
</div>

