
<div class="main-content">
  <div class="portfolio">
    <div class="portfolio-item medium">
      <p><strong>FoodFix</strong><br>A recipe search site that utilizes Spoonacular's public API's to provide visuals of recipe ingredients, nutritional content, and a detailed list of preparation instructions.</p>
      <a class="button is-rounded is-small" href="https://kev-luo.github.io/FoodFix/" target="_blank" style="margin-top:4px">Deployed Link</a>
      <a id="projectDemo" class="button is-rounded is-small" href="#" style="margin-top:4px">GIF Demo</a>
      <span class="icon is-medium">
        <a href="https://github.com/kev-luo/FoodFix" target="_blank" style="color:black; margin-top:4px"><i class="fab fa-github fa-lg"></i></a>
      </span>
    </div>

    <div class="portfolio-item small">  
      <p><strong>Weather Dashboard</strong><br>A weather monitoring site that utilizes Open Weather's public API's to display temperature, windspeed, sunrise/sunset, and UV index information for US cities.</p>
      <a class="button is-rounded is-small" href="https://kev-luo.github.io/Weather-Dashboard/" target="_blank" style="margin-top:4px">Deployed Link</a>
      <a id="weatherDemo" class="button is-rounded is-small" href="#" style="margin-top:4px">GIF Demo</a>
      <span class="icon is-medium">
        <a href="https://github.com/kev-luo/Weather-Dashboard" target="_blank" style="color:black; margin-top:4px"><i class="fab fa-github fa-lg"></i></a>
      </span>
    </div>   
    
    <div class="portfolio-item">
      <p><strong>Soccer Quiz</strong><br>A timed soccer quiz site that saves user scores to local storage. </p>
      <a class="button is-rounded is-small" href="https://kev-luo.github.io/Soccer-Quiz/" target="_blank" style="margin-top:4px">Deployed Link</a>
      <a id="quizDemo" class="button is-rounded is-small" href="#" style="margin-top:4px">GIF Demo</a>
      <span class="icon is-medium">
        <a href="https://github.com/kev-luo/Soccer-Quiz" target="_blank" style="color:black; margin-top:4px"><i class="fab fa-github fa-lg"></i></a>
      </span>
    </div>

  </div>
</div>