html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  flex: 1 1 20%;
  min-width: 300px;
  padding: 3em;
}

.logo {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.logo span {
  color: white;
  font-weight: bold;
}

.nav-item {
  display: inline-block;
  font-size: 1.7rem;
  margin-right: 1em;
}

.main-content {
  padding: 2% 5%;
  flex: 1 1 80%;
  min-height: 100vh;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  box-shadow: 4px 4px 3px 0.9px rgba(0,0,0,1);
  border-radius: 30px;
}

.portfolio-item.small {
  grid-row: span 1;
  grid-column: span 1;
}

.portfolio-item.medium {
  grid-row: span 1;
  grid-column: span 2;
}

.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}

.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}

.portfolio-item:hover {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media (min-width: 1500px) { 
  .logo {
    margin-bottom: 5em;
  }
}

@media (min-width: 1500px) { 
  .nav-item {
    display: block;
    margin: 1vh 0;
  }
}